

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

li{
    list-style:circle
    
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem;
    
}
a:hover{
    color: orange;

}
/*HEADER*/

header{
    position:relative;
    padding: 0 2rem;
    
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 5rem;
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color: rgba(250, 235, 215, 0.267);
    border-radius: 0px 0px 20px 20px; 
    font-family: 'Sriracha', cursive; 
    
    
    
    
  
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Sriracha', cursive;


}
.navbar .link{
    display:contents;
    justify-content: center;
    

}
.navbar .toggle_btn{
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;


}


.action_btn{
    background-color: orange ;
    color: rgb(255, 255, 255);
    padding:  0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 1 ease;

}
.action_btn:hover{
    scale: 1.05;
    color: rgb(255, 255, 255);
}
.action_btn:active{
    scale: 0.95;

}
/*dr*/
.dropdown_menu{
    display: none;

    position: absolute;
    right:  2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background: rgba(252, 252, 252, 0.37);
    backdrop-filter:blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: hight .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Sriracha', cursive;
}



.dropdown_menu.open{
    height: 240px;

}
.dropdown_menu li{
    padding:  0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;

    justify-content:  center;
}

/*res*/
@media(max-width:992px){
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width:unset;

    }
    
}